aws_region = "us-west-2"
aws_availability_zones = ["us-west-2a", "us-west-2b"]

cluster_name = "your-cluster-name"

cluster_token = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

kubernetes_admins = [
    "arn:aws:iam::123456789012:user/username1", 
    "arn:aws:iam::123456789012:user/username2"
]

# Optional variables with default values that can be overridden:

# vpc_cidr = "10.0.0.0/16"
# public_subnets = ["10.0.20.0/25", "10.0.20.128/25"]
# private_subnets = ["10.0.30.0/25", "10.0.30.128/25"]
# cluster_version = "1.30"
# desired_node_count = 3
# eks_instance_type = "t3.medium"
# unison_vpc_cidr = "172.20.0.0/16"
# unison_cloud_image_tag = "latest"
